

<div class="modal-header">
    <h4 class="modal-title">Резервирай билет:</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Желаете ли да запазите билет за {{movieName}}!</p>
    <p>За {{day}} в {{time}} часа.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Отказ</button>
    <button type="button" class="btn btn-success" (click)="submit()">Резервирай билет</button>
  </div>