<app-header-section></app-header-section>
<section class="page-section excursion" id="excursion">
  <div class="container">
      <!-- excursion Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Филми на екран</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fa-solid fa-clapperboard"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <app-group-movies></app-group-movies>

  </div>
</section>